#users.index
  .row
    .columns.text-center
      %h1 Alle Benutzer

  .row
    - @users.each do |user|
      .small-4.columns.text-center
        = link_to user, class: :thumbnail, rel: user.id do
          = user.user_image

  .row
    .medium-4.columns.show-for-medium.text-center
      = link_to :new_user, class: 'button' do
        = fa_icon :plus
        Neuer Benutzer
    .small-12.medium-8.text-center
      = will_paginate @users, renderer: FoundationPagination::Rails

