#users.show
  .row
    .small-3.columns
      = link_to :users, class: 'button alert large' do
        = fa_icon 'arrow-left'
        .show-for-sr Zurück
      %span.show-for-medium
        = link_to [:edit, @user], class: 'button large warning' do
          = fa_icon :pencil
          .show-for-sr Bearbeiten
    .small-6.columns.text-center
      %h2= "Hallo #{@user.first_name}"
    .small-3.columns.text-right
      = @user.user_image

  .row{ data: { equalizer: true, 'equalize-on' => 'small' }}
    - Product.in_order.each do |product|
      .small-6.columns
        = link_to product.name, orders_path(order: { user_id: @user, product_id: product }), method: :post, class: 'button large expanded text-center', disable_with: product.name

  .row
    .small-12.columns
      %h3
        .clearfix
          .float-left Dein Kontostand:
          .float-right
            %strong{ class: "#{@user.calculated_budget < 0 ? 'red' : 'green'}" }= number_to_currency @user.calculated_budget

  .row
    - [1, 2, 5, 10].each do |amount|
      .small-6.columns
        = link_to number_to_currency(amount), payments_path(payment: { user_id: @user.id, amount: amount }), method: :post, class: 'button large expanded text-center', disable_with: number_to_currency(amount)
