#reporting.global
  .row
    .columns.text-center
      %h1 Global Reporting

  .row
    .columns &nbsp;
    - @reporting_months.each do |report_date|
      .columns.text-center
        %strong= l report_date, format: '%B %Y'
    .columns.text-center Balance

  %br

  - @users.each do |user|
    .row.align-middle
      .columns.text-right
        = link_to user.object do
          = user.user_image
      - @reporting_months.each do |report_date|
        .columns.text-center
          = user.styled_budget_by_month(report_date)
      .columns.text-center
        %div{ class: (user.calculated_budget >= 0 ? :payment : :order) }
          = number_to_currency user.calculated_budget
    %br

