#reporting.global
  .row
    .columns.text-center
      %h1 Global Reporting

  .row.align-bottom
    .columns &nbsp;
    - @reporting_months.each.with_index do |report_date, index|
      .columns.text-center
        %strong= l report_date, format: '%B %Y'
    .columns.text-center Balance

  .row.align-bottom
    .columns &nbsp;
    - @reporting_months.each.with_index do |report_date, index|
      .columns.text-center
        %span.order
          Bestellungen:
          = number_to_currency @reporting[index].fetch(:orders, 0)
        %br
        %span.payment
          Zahlungen:
          = number_to_currency @reporting[index].fetch(:payments, 0)
    .columns.text-center &nbsp;

  %br

  - @users.each do |user|
    .row.align-middle
      .columns.text-right
        = link_to user.object do
          = user.user_image
      - @reporting_months.each do |report_date|
        = render 'user_budget', user: user, report_date: report_date
      .columns.text-center
        %div{ class: (user.calculated_budget >= 0 ? :payment : :order) }
          = number_to_currency user.calculated_budget

