- user_id = (local_assigns[:user] || current_user).try(:id)

= simple_form_for :payment, url: payments_path, remote: true do |f|
  = f.hidden_field :user_id, value: user_id
  - if local_assigns[:booking_date]
    = f.hidden_field :booked_at, value: local_assigns[:booking_date]
  .input-group
    %span.input-group-label €
    = f.number_field :amount, value: amount, class: 'input-group-field', max: amount, min: 0, step: 0.1
    .input-group-button
      = button_tag class: 'button' do
        = fa_icon('check')
